@import url('../../styles/_variaveis.scss');

.drink_page {
    display: flex;
    align-items: center;
    justify-content: center;
}
.drink_section {
    display: grid;
    grid-template-areas:
        "header header"
        "ingredients preparation"
        "decoration decoration"
    ;
    grid-template-columns: 50% 48%;
    gap: 1em;
    height: 550px;
    width: 80%;
}
