@import url('styles/_variaveis.scss');

.preparation_card {
    grid-area: preparation;
    display: grid;
    grid-template-areas:
        "title subtitle"
        "inputs list"
    ;
    grid-template-columns: auto 1fr;
    column-gap: 1em;
}

.title {
    grid-area: title;
}

.subtitle {
    grid-area: subtitle;
}

.list {
    grid-area: list;
    height: 150px;
    background-color: white;
    color: var(--azul-escuro);
    overflow-x: hidden;
    overflow-y: scroll;
    border-radius: 5px;
    padding: 10px;
}

.list_item {
    display: grid;
    grid-template-areas:
        "step deleteBtn";
    align-items: center;
    grid-template-columns: 80% auto;
    margin-bottom: 1em;
}

.step {
    grid-area: step;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
}

.deleteBtn {
    grid-area: deleteBtn;
}

@media only screen and (max-width: 1030px) {
    .preparation_card {
        grid-template-areas:
            "title"
            "inputs"
            "subtitle"
            "list"
        ;
        grid-template-columns: auto;
    }

    .subtitle {
        margin:2em 0 1em 0;
    }
}