@import url('styles/_variaveis.scss');

.preparation_card {
    grid-area: preparation;
    row-gap: 1em;
}
.title{
    font-size: 1em;
    font-weight: 300;
    margin-left: 0.7em;
    text-transform: capitalize;
    color: var(--cor-do-texto);
}

@media only screen and (max-width: 900px) {
    .preparation_card {
        width: auto;
    }
}

@media only screen and (max-width: 700px) {
    .input {
        font-size: 0.7em;
    }
}

