@import url('styles/_variaveis.scss');

.preparation_card {
    grid-area: preparation;
    display: grid;
    grid-template-areas: 
    "title subtitle"
    "inputs list"
    ;
    grid-template-columns: auto 1fr;
    column-gap: 2em;
}

.title {
    grid-area: title;
    margin-bottom: 1.5em;
}

.subtitle {
    grid-area: subtitle;
}

.list {
    grid-area: list;
    height: 200px;
    background-color: white;
    color: var(--azul-escuro);
    overflow-x: hidden;
    overflow-y: scroll;
    border-radius: 5px;
    padding: 10px;
}

.list li {
    margin-bottom: 10px;
}
