.ingredients_card {
    grid-column: 2 / 6;
    grid-row: 1/4;
    // width: 70%;
    // height: 50vh;
    // padding-right: 3em;
}


.ingredients_list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
    font-size: 1em;
}

.amount_column {
    width: 15%;
}

.measure_column {
    width: 15%;
}

.ingredient_column {
    width: 60%;
}

.cost_column {
    width: 10%;
}




@media only screen and (max-width: 700px) {

    .amount_column {
        width: 17%;
    }

    .measure_column {
        width: 12%;
    }

    .ingredient_column {
        width: 45%;
    }
    .cost_column {
        width: 10%;
    }


}

@media only screen and (max-width: 500px) {

    .amount_column {
        width: 16%;
    }

    .measure_column {
        width: 12%;
    }

    .ingredient_column {
        width: 57%;
    }
    .cost_column {
        width: 15%;
    }

    .ingredients_list {
        font-size: 0.7em;
    }
 
   
}
