.collection_datalist_div {
  grid-area: collections;
  display: grid;
}

.collection_img {
  width: 100%;
  height: 6em;
  margin-bottom: 1em;
  border-radius: 20px;
  object-fit: cover;
}

.default_img {
  object-fit: contain;
}

.select {
  border-radius: 4px;
  height: 2em;
  border: none;
}

@media only screen and (max-width: 1050px) {

  .collection_img {
    width: 100%;
    object-position: 50%;
  }
}

@media only screen and (max-width: 900px) {
  .collection_datalist_div {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }

  .collection_img {
    width: 60%;
    height: 10em;
    margin: 0;
  }
}

@media only screen and (max-width: 700px) {
  .input {
    font-size: 0.7em;
  }
}

@media only screen and (max-width: 600px) {
  .collection_datalist_div {
    display: block;
  }

  .collection_img {
    width: 100%;
    margin: 1em 0 2em 0;
  }

  .input {
    width: 80%;
  }
}