@import "styles/abstract/vars";

.list {
    height: 150px;
    background-color: white;
    border-radius: 10px;
    color: $azul-escuro;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 10px;
}

.columns {
    display: grid;
    grid-template-areas: 
    "amount unit ingredient cost deleteBtn"
    ;
    grid-template-columns: 15% 15% 40% 15% auto;
}

.amount_column {
    grid-area: amount;
}

.measure_column {
    grid-area: unit;
}

.ingredient_column {
    grid-area: ingredient;    
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

}

.cost_column {
    grid-area: cost;
}

.deleteBtn {
    grid-area: deleteBtn;
}


