@import 'styles/abstract/vars';

.default{
    background-color: $rosa;
    padding: 0.2em 0.5em;
    color: $azul-escuro;
    border: none;
    border-radius: 4px;
}

.submit {
    font-weight: 700;
    border-radius: 5px;
    margin: 1em 1em 1em 2em;
    box-shadow: 5px 5px 20px black;
    padding: 2em 1em;
}

.delete {
    display: flex;
    align-items: center;
    margin: auto;
    background-color: $vermelho;
}

@media only screen and (max-width: 690px) {
    .delete {
        right: -1em;
    }
}