.drink_header {
    grid-area: header;
    display: grid;
    grid-template-areas:
        "image name cost";
    grid-template-columns: auto 1fr auto;
    align-items: center;
    }

.image {
    grid-area: image;
    height: 10em;
    border-radius: 20px;
}

.drink_name {
    grid-area: name;
    text-align: center;
}

.cost_div {
    grid-area: cost;
}