.inputs {
    grid-area: inputs;
    display: flex;
    flex-direction: column;
    gap: 1.5em;

}

.inpt_btn_align {
    display: flex;
}

.input {
    display: inline-block;
    padding: 0;
    margin: 0;
    width: 100%;
    box-sizing: content-box;
    // background-color: red;
    min-width: none;
    max-width: none;
}

@media only screen and (max-width: 1030px) {
    .inputs {
        flex-direction: row;
        gap: 0.5em;
        flex-wrap: wrap;
    }
    .inputs>* {
        flex: 1 1 200px;
      }

}