.ingredients_div {
    grid-area: ingredients;
}

.list {
    list-style: none;
}

.columns {
    display: grid;
    grid-template-areas:
        "amount unit ingredient cost"
    ;
    grid-template-columns: 50px 50px 200px 50px;
}

.amount_column {
    grid-area: amount;
}

.measure_unit_column {
    grid-area: unit;
}

.ingredient_column {
    grid-area: ingredient;
    overflow-x: auto;
    overflow-y: auto;
    white-space: nowrap;
}

.cost_column {
    grid-area: cost;
}