.ingredients_div {
    grid-area: ingredients;
}

.columns {
    display: grid;
    grid-template-areas:
        "amount unit ingredient cost"
    ;
    grid-template-columns: 15% 15% 40% 15%;
}

.amount_column {
    grid-area: amount;
}

.measure_unit_column {
    grid-area: unit;
}

.ingredient_column {
    grid-area: ingredient;
}

.cost_column {
    grid-area: cost;
}