.drink_setup_page_div {
    display: grid;
    grid-template-areas:
        "drinkPhoto ingredients"
        "drinkPhoto preparation"
        "collections preparation";
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
}

@media only screen and (max-width: 910px) {
    .drink_setup_page_div {
        grid-template-areas:
            "drinkPhoto drinkPhoto collections"
            "ingredients ingredients ingredients"
            "preparation preparation preparation";
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media only screen and (max-width: 565px) {
    .drink_setup_page_div {
        grid-template-areas:
            "drinkPhoto"
            "collections"
            "ingredients"
            "preparation";
        grid-template-columns: 1fr ;
    }
}