.drink_setup_page_div {
    display: grid;
    grid-template-areas:
        "drinkPhoto ingredients"
        "collections preparation"
        "submitBtn preparation";
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
}

.submitBtn {
    grid-area: submitBtn;
    height: 20px;
    margin: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}