@import url('styles/_variaveis.scss');

.header {
    display: grid;
    grid-template-columns: auto 1fr;
    justify-content: center;
    width: 100%;
    gap: 3em;
    padding: 0.3em;
    background-color: var(--cinza-claro);
}

.nav {
    display: flex;
    gap: 1em;
    justify-content: center;
}

.link {
    color: var(--azul-escuro);

}

.link:hover {
    color: var(--roxo)
}

a {
    text-decoration: none;
}

.address {
    display: flex;
    gap: 1.5em;
    margin: 0 0 0 1em;
    

    img {
        height: 1.3em;
    }
}