.card {
    position: relative;
    margin: 0.5em;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 20px black;
}


@media only screen and (max-width: 910px) {
    .card {
        padding: 10px;
    }
}