.card {
    position: relative;
    margin: 1em;
    padding: 1.2em 1.3em;
    border-radius: 20px;
    box-shadow: 5px 5px 20px black;
}

.highlight {
    font-size: 1.2em;
    color: var(--rosa);
    margin: 0 1em 1.5em 1em;
}