@import url('styles/_variaveis.scss');

.preparation_div {
    grid-area: preparation;
}

.list {
    list-style: none;
    overflow-x: auto;
    overflow-y: auto;
    white-space: nowrap;
}

.list_item {
    display: flex;
    gap: 1em;
}
