@import url('styles/_variaveis.scss');

.preparation_div {
    grid-area: preparation;
    box-sizing:content-box;

}

.list {
    list-style: none;
    overflow-x: auto;
    overflow-y: auto;
    white-space: nowrap;
    height: 200px;
    background-color: white;
    color: var(--azul-escuro);
    border-radius: 5px;
    padding: 10px;
}

.list_item {
    display: flex;
    gap: 1em;
}
